# OIDC 配置
OIDC_CLIENT_SECRET=
OIDC_WELL_KNOWN_URL=
OIDC_AUTH_URL=
OIDC_TOKEN_URL=
OIDC_JWKS_URL=
OIDC_CLIENT_ID=
OIDC_REDIRECT_URI=

# Gemini API 配置
GEMINI_API_KEY=

# Wallet API 配置
WALLET_API_BASE_URL=
WALLET_API_ACCESS_TOKEN=

# Issuer API 配置
ISSUER_API_BASE_URL=
ISSUER_API_ACCESS_TOKEN=

